<div class="modal fade" tabindex="-1" [ngClass]="{'in': true}" [ngStyle]="{'display':  'block'  , 'opacity':  1  } ">
  <div class="modal-dialog  modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <h3> {{NewOrEditKeyword}}</h3>

          <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div class="form-group">

              <div class="row">
                <div class="col-md-4">

                  <input [(ngModel)]="keyword.name" id="inputName" type="text" class="form-control" placeholder="add keyword here ..." name="inputName"
                    required #inputName="ngModel">

                  <div [hidden]="inputName.valid || inputName.pristine" class="alert alert-danger">
                    A name is required
                  </div>
                </div>
              </div>

              <br/>
              <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Save</button>
              <button type="button" class="btn btn-danger" *ngIf="keyword.id" (click)="onDelete()">Delete</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>