@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
 
}

.addon-blue {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}