<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content' style="padding-top:60px">
            <p style="position: fixed; bottom: 0; right:0; text-align: right;background-color:rgb(226, 247, 43); padding-right:1%; padding-left:1%">
                <my-popup-message></my-popup-message>
            </p>
            <router-outlet></router-outlet>
        </div>

        <!-- <p style="position: fixed; bottom: 0; width:100%; text-align: center">
            {{version}} &copy; 2017 C.K.Hansen Aps
        </p> -->
    </div>

</div>