<!-- we pass a null keyword for a NEW keyword in keyword-form.component -->
<button class="btn btn-primary" (click)="onKeywordEditForm(null)">
  New Keyword
</button>

<div class="form-group">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let c of columns">
          {{c.title}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let k of keywords " (click)="onKeywordEditForm(k)">
        <td>{{ k.id }}</td>
        <td>{{ k.name }}</td>
        <td>
          <span class="glyphicon glyphicon-zoom-in"></span>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf='displayKeywordEditForm'>
    <app-keyword-edit-form [keyword]="keyword" (keywordAdd)="onKeywordFormAdd($event)" (keywordDelete)="onKeywordFormDelete($event)"></app-keyword-edit-form>
  </div>
</div>