<div class="modal fade" tabindex="-1" [ngClass]="{'in': true}" [ngStyle]="{'display':  'block'  , 'opacity':  1  } ">
  <div class="modal-dialog  modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Add Keyword</h3>

        <div class="input-group">
          <span class=" input-group-addon" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="onKeywordAdd(keyword.value)">
          Add Key</span>

          <select #keyword id="keyword" class="form-control" (keydown.enter)="onKeywordAdd(keyword.value)" focusOnInit>
            <option *ngFor="let k of keywords" value="{{k.id}}"> {{k.name}} </option>
          </select>

        </div>
        <br/>
        <button class="btn btn-default" (click)="onCancel()"> Cancel </button>
      </div>
    </div>
  </div>
</div>