<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/notes']">notes</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <!-- added [routerLinkActiveOptions]="{exact: true}" to avoid both  '/notes' and 'notes/new' being highlighted  -->
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/notes']">
                        <span class='glyphicon glyphicon-list-alt'></span> Notes
                    </a>
                </li>
                <!-- <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/notes/new']">
                        <span class='glyphicon glyphicon-plus'></span> New Note
                    </a>
                </li> -->
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/keywords']">
                        <span class='glyphicon glyphicon-tags'></span>Keywords
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>