
<div *ngIf='isKeywordDropdownShow'>
  <app-keyword-dropdown-form [keywords]="allKeywords" (onAddExistingKeyword)="onAddExistingKeyword($event)"></app-keyword-dropdown-form>
</div>

<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div>
    <div class="form-group">
      <button class="btn btn-default" *ngFor="let k of note.keywords" (click)="onKeywordRemove(k)" type="button" title="click to remove keyword">
        {{ k.name }}
      </button>
    </div>
  </div>

  <div class="form-group">
    <label for="subject">Subject</label>
    <input [(ngModel)]="note.subject" id="subject" type="text" class="form-control" placeholder="...subject..." name="subject"
      required #subject="ngModel" [maxlength]="255">

    <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
      Subject is required
    </div>

  </div>
  <div class="form-group">
    <label for="body">Note</label>
    <textarea [(ngModel)]="note.body" id="body" type="text" class="form-control" placeholder="... note ..." name="body" required
      #body="ngModel" rows="6">
    </textarea>
  </div>
  <div [hidden]="body.valid || body.pristine" class="alert alert-danger">
    Note is required
  </div>

  <button class="btn btn-default" type="button" (click)="onButtonCancel()">Cancel</button>
  <button type="submit " class="btn btn-success " [disabled]="!myForm.form.valid " title="update/save note ">Save</button>

  <button class="btn btn-danger " type="button" (click)="onNoteDelete() " *ngIf="note.id" title="delete note ">Delete</button>
  <button class="btn btn-primary" type="button" (click)="displayKeywordDropdown() " title="add existing keyword to note "> Add Key </button>
</form>