<div class="input-group">
  <input [(ngModel)]="search" id="search" type="text" class="form-control" placeholder="Search" name="subject">
  <span class="input-group-addon" (click)="onSearch()">Search</span>
</div>

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        {{c.title}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of notes ">
      <td>{{ n.id }}</td>
      <td [routerLink]="['/notes/', n.id]">{{ n.subject }}
        <a *ngFor="let k of n.keywords" align="right"> {{k.name}}</a>
      </td>
    </tr>
  </tbody>
</table>

<a [routerLink]="['new']" class="btn btn-primary">New Note</a>